out
ref
testdata/438ae8ca48c0bf9646ea1968eed2f6fa.gif
testdata/438ae8ca48c0bf9646ea1968eed2f6fa.png
testdata/John-Paul-Jones.png
testdata/John-Paul-Jones.webp
testdata/buffalo.jpg
testdata/buffalo.png
testdata/code.html.pdf
testdata/gophercises_jumping.gif
testdata/gophercises_punching.gif
testdata/img_1280.heic
testdata/img_1280.png
