.bk1
root.crt
root.csr
root.key
root.srl
server.crt
server.csr
server.key
,a
,a.sql
,aa
,b
,v
,v.sql
,y
.deploy-at.2022-12-05
000.drop.m4.sql
000.drop.sql
000.setup.m4.sql
000.setup.sql
000.tables.sql
001.tables.m4.sql
001.tables.sql
002.data.m4.sql
002.data.sql
003.test.m4.sql
003.test.sql
003.url.m4.sql
004.misc-func.m4.sql
005.adminRegister.m4.sql
099.constraints.m4.sql
Makefile
all-sql.sql
b.sql
cert.mk
chk-tls.sql
demo.sql
deploy_app.sh
deploy_db_app.sh
deploy_db_test01.sh
deploy_db_test02.sh
deploy_test01.sh
deploy_test02.sh
e.sql
error-db.1
fix-code.pl
list-privs.sql
m4.sh
note.1
q8_user_config.sql
reset-seq.sql
root.crt
root.csr
root.key
root.srl
save-me2
server.crt
server.csr
server.key
setup-user0.sql
setup.m4
setup.sql
slow-test.0001.sql
t_output.out
test1.sql
ver.m4
load-it.sql
