note
todo.1
ed.1
x.md
.bak0.tar
*.vim
note.1
note.2
fix-id.json.1
ed.2

LoginProcess.md
ddl/004.misc-func.sql
ddl/err2.1
ddl/find-dep.sql
ddl/no-2fa.sql
doc.md
mv.sql
q8_user_config.sql
setup/
t1.sql
t2.sql
t4.sql
tcs-fincon.1
test/
used-email.md
